@model EduGestor.Models.ViewModels.StudentClassSearchViewModel
@using EduGestor.Models.Enums

@{
    ViewData["Title"] = "Students Classes";
}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h2 class="fw-bold mb-1">
            Students Classes
        </h2>
    </div>

    <a asp-action="Create"
       class="btn btn-primary shadow-sm">

        <i class="bi bi-plus-circle"></i>
        New Student Class

    </a>

</div>

<!-- FILTERS -->
<div class="card border-0 shadow-sm rounded-4 mb-4">

    <div class="card-body">

        <form method="get"
              asp-action="Index">

            <div class="row g-3">

                <!-- CLASS CODE -->
                <div class="col-md-4">

                    <label asp-for="ClassCode"
                           class="form-label fw-semibold">

                        Class Code

                    </label>

                    <input asp-for="ClassCode"
                           class="form-control"
                           placeholder="Search class code..." />

                </div>

                <!-- Education Level -->
                <div class="col-md-2">

                    <label asp-for="EduLevel"
                           class="form-label fw-semibold">

                        Education Level

                    </label>

                    <select asp-for="EduLevel"
                            class="form-select">

                        <option value="">
                            All
                        </option>

                        @foreach (var level in Enum.GetValues(typeof(EduGestor.Models.Enums.EducationLevel)))
                        {
                            <option value="@level">
                                @level
                            </option>
                        }

                    </select>

                </div>

                <!-- Student Series -->
                <div class="col-md-2">

                    <label asp-for="EduLevel"
                           class="form-label fw-semibold">

                        Student Series

                    </label>

                    <select asp-for="StudentSeries"
                            class="form-select">

                        <option value="">
                            All
                        </option>

                        @foreach (var series in Enum.GetValues(typeof(EduGestor.Models.Enums.Series)))
                        {
                            <option value="@series">
                                @series
                            </option>
                        }

                    </select>

                </div>

                <!-- Class Shift -->
                <div class="col-md-2">

                    <label asp-for="ClassShift"
                           class="form-label fw-semibold">

                        Class Shift

                    </label>

                    <select asp-for="ClassShift"
                            class="form-select">

                        <option value="">
                            All
                        </option>

                        @foreach (var shift in Enum.GetValues(typeof(EduGestor.Models.Enums.Shift)))
                        {
                            <option value="@shift">
                                @shift
                            </option>
                        }

                    </select>

                </div>

                <!-- BUTTON -->
                <div class="col-md-2 d-grid align-items-end">

                    <button type="submit"
                            class="btn btn-dark">

                        <i class="bi bi-search"></i>
                        Search

                    </button>

                </div>

            </div>

        </form>

    </div>

</div>

<!-- TABLE -->
<div class="card border-0 shadow-sm rounded-4">

    <div class="card-body">

        <table class="table align-middle table-hover">

            <thead class="table-light">

                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.StudentClass.Level)</th>
                    <th>@Html.DisplayNameFor(Model => Model.StudentClass.Series)</th>
                    <th>@Html.DisplayNameFor(Model => Model.StudentClass.Shift)</th>
                    <th>@Html.DisplayNameFor(Model => Model.StudentClass.Capacity)</th>
                    <th>@Html.DisplayNameFor(Model => Model.StudentClass.Code)</th>
                    <th width="180"></th>
                </tr>

            </thead>

            <tbody>

                @foreach (var sc in Model.StudentClasses)
                {
                    <tr>

                        <td>
                            <strong>
                                @sc?.Level
                            </strong>
                        </td>

                        <td>
                            <strong>
                                @sc?.Series
                            </strong>
                        </td>

                        <td>
                            @sc?.Shift
                        </td>

                        <td>
                            @sc?.Capacity
                        </td>

                        <td>
                            @sc?.Code
                        </td>

                        <td>

                            <div class="d-flex gap-2">

                                <a asp-action="Details"
                                   asp-route-id="@sc?.Id"
                                   class="btn btn-sm btn-info text-white">

                                    <i class="bi bi-eye"></i>

                                </a>

                                <a asp-action="Edit"
                                   asp-route-id="@sc?.Id"
                                   class="btn btn-sm btn-warning">

                                    <i class="bi bi-pencil"></i>

                                </a>

                                <a asp-action="Delete"
                                   asp-route-id="@sc?.Id"
                                   class="btn btn-sm btn-danger">

                                    <i class="bi bi-trash"></i>

                                </a>

                            </div>

                        </td>

                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

<!-- PAGINATION -->
@if (Model.TotalPages > 1)
{
    <nav class="mt-4">

        <ul class="pagination justify-content-center">

            <!-- PREVIOUS -->
            <li class="page-item
                @(Model.PageNumber == 1 ? "disabled" : "")">

                <a class="page-link"
                   asp-action="Index"
                   asp-route-PageNumber="@(Model.PageNumber - 1)"
                   asp-route-ClassCode="@Model.ClassCode"
                   asp-route-EduLevel="@Model.EduLevel"
                   asp-route-StudentSeries="@Model.StudentSeries"
                   asp-route-ClassShift="@Model.ClassShift"
                   asp-route-StudentClass="@Model.StudentClass">

                    Previous

                </a>

            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item
                    @(i == Model.PageNumber ? "active" : "")">

                    <a class="page-link"
                       asp-action="Index"
                       asp-route-PageNumber="@i"
                       asp-route-ClassCode="@Model.ClassCode"
                       asp-route-EduLevel="@Model.EduLevel"
                       asp-route-StudentSeries="@Model.StudentSeries"
                       asp-route-ClassShift="@Model.ClassShift"
                       asp-route-StudentClass="@Model.StudentClass">

                        @i

                    </a>

                </li>
            }

            <!-- NEXT -->
            <li class="page-item
                @(Model.PageNumber == Model.TotalPages
                    ? "disabled" : "")">

                <a class="page-link"
                   asp-action="Index"
                   asp-route-PageNumber="@(Model.PageNumber + 1)"
                   asp-route-ClassCode="@Model.ClassCode"
                   asp-route-EduLevel="@Model.EduLevel"
                   asp-route-StudentSeries="@Model.StudentSeries"
                   asp-route-ClassShift="@Model.ClassShift"
                   asp-route-StudentClass="@Model.StudentClass">

                    Next

                </a>

            </li>

        </ul>

    </nav>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
